{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": true,
        "decorators": false,
        "dynamicImport": true

      },
      "transform": {
        "react":{
          "runtime": "automatic",
          // related transform. Defaults to false as it's considered experimental.
          "refresh": true,
        }
      },
      "target": "es2015",
      "loose": false,
      "externalHelpers": false,
      // Requires v1.2.50 or upper and requires target to be es2016 or upper.
      "keepClassNames": false
    },
    "minify": true
  }