{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": false,
        "dynamicImport": true
      },
      "baseUrl": "./",
      "paths": {
        "@*": ["node_modules","src/*"],
        "$prisma/*": ["src/config/prisma/*"],
        "@config": ["src/config"],
        "@config/*": ["src/config/*"],
        "@constants/": ["src/constants/"],
        "@constants/*": ["src/constants/*"],
        "@graphql/": ["src/api/graphql"],
        "@graphql/*": ["src/api/graphql/*"],
        "@seed/*": ["src/seed/*"]
      },
      "target": "esnext",
      "loose": false,
      "externalHelpers": false,
      "keepClassNames": false
    }
  }